* {
    margin: 0;
    padding: 0;

}
body {
    background: black url('../img/frame.png' ) no-repeat center top;
    
}
canvas {
    border: 1px solid white;
    margin: 0px auto;
    display: block;
}